/* Estilos para el enlace del carrito */
.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4d4d4d; /* Color gris */
  font-size: 1rem;
  transition: color 0.3s ease;
}

.cart-link:hover {
  color: #ff69b4; /* Color rosa pastel */
}

/* Estilos para el icono del carrito */
.cart-icon {
  font-size: 1.5rem;
  margin-right: 5px;
  color: #ff69b4; /* Color rosa pastel */
}

/* Estilos para la cantidad en el carrito */
.cart-count {
  background-color: #ffb6c1; /* Color rosa pastel */
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 0.8rem;
  margin-left: 5px;
}
